# For the ZNP Robin Nano DW v2.1 board:
#   - Compile with the processor model STM32F401.
#   - Select the 32KiB bootloader,
#   - Select (Serial (on # USART1 PA10/PA9) for the communication interface.
# Note that the "make flash" command does not work with ZNP Robin boards. After running "make", run the following command:
# cp out/klipper.bin out/ZNP_ROBIN_NANO.bin
#
# Copy the file out/ZNP_ROBIN_NANO.bin to an SD card and then restart the printer with that SD card.
# See docs/Config_Reference.md for a description of parameters.
#[include fluidd.cfg]
#[include mainsail.cfg]
#[exclude_object]

#[include xxxxxx.cfg]
[include macros.cfg]
[include fluidd.cfg]
########################################
####### GENERAL SETTINGS ###############
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0    # USB printer cable connection
# serial:/dev/ttyS0             # UART connection
restart_method: command

[mcu rpi]  
serial: /tmp/klipper_host_mcu    
[adxl345]  
cs_pin: rpi:None  
spi_bus: spidev0.2

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_accel_to_decel: 3000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5
# Use those higher values just to configure Input Shaper 
#max_accel: 10000
#max_accel_to_decel: 10000

########################################
############### STEPPER ################
########################################

[stepper_x]
step_pin: !PC12
dir_pin: PB3
enable_pin: !PD2
microsteps: 16
rotation_distance: 40
endstop_pin: PA13
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PC11
dir_pin: PA15
enable_pin: !PC10
microsteps: 16
rotation_distance: 40
endstop_pin: PB8
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PC7
dir_pin: !PC9
enable_pin: !PC8
rotation_distance: 8
microsteps: 16
position_max: 280
position_min: -6.0
# If you use "z_virtual_endstop", please set "homing_speed" and "second_homing_speed" to avoid banging the nozzle to fast
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop
# endstop_pin: !PC14
homing_speed: 2.0
second_homing_speed: 0.3
homing_retract_dist: 2.0
# If you use "z sensor pin", you have to set the position_endstop
#endstop_pin: !PC14
# Use the UI and the piece of paper to slowly go down and find the proper position
# position_endstop = 5.000

[stepper_z1]
step_pin: PC4
dir_pin: !PA4
enable_pin: !PC5
rotation_distance: 8
microsteps: 16

########################################
############## BLTOUCH #################
########################################

[bltouch]
sensor_pin: ^PC13  
control_pin: PA8 
x_offset: 26
y_offset: -48
#z_offset = 3.215
samples: 2
speed: 15
samples_result: median
stow_on_each_sample: False

[safe_z_home]
home_xy_position: 117.5,117.5
z_hop: 10             #Z height after Z home
Z_hop_speed: 5

########################################
############ HOME / MESH ###############
########################################

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 30,5
mesh_max: 230,187 
algorithm: bicubic
probe_count: 6,6
mesh_pps: 2,2
fade_start: 1
fade_end: 10
fade_target: 0

########################################
################ PROBE  ################
########################################

# [probe]
# pin: !PC13
# speed: 0.5
# lift_speed: 0.5
# samples_tolerance: 0.09
# samples_tolerance_retries: 2
# samples: 3
# samples_result: median
# Calibrate probe: https://www.klipper3d.org/Bed_Level.html
# - Example: PROBE_CALIBRATE, then adjust with TESTZ Z=+/-X
# x_offset = 0
# y_offset = 0
# z_offset = -0.2
# activate_gcode:
#	PROBE_RESET
# activate_gcode: TARE_PROBE
# deactivate_gcode: TARE_PROBE



########################################
########## EXTRUDER / BED ##############
########################################

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB10
dir_pin: PB1
enable_pin: !PC6
microsteps: 16
# Calibrate E-Steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders
rotation_distance: 20.952        # has to calibrate (E-Steps)
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
#control = pid
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=extruder TARGET=200
#control: pid 		#set with "PID_CALIBRATE HEATER=extruder TARGET=200"
#pid_kp = 25.900
#pid_ki = 1.439
#pid_kd = 116.548
min_temp: 0
max_temp: 250
# Calibrate PA: https://www.klipper3d.org/Pressure_Advance.html
pressure_advance = 0.600
pressure_advance_smooth_time: 0.040

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#control: pid  		#set with "PID_CALIBRATE HEATER=heater_bed TARGET=60"
#pid_kp = 66.635
#pid_ki = 0.885
#pid_kd = 1254.411
max_temp: 110
min_temp: 0

########################################
######### FAN / TEMPERATURE ############
########################################

[heater_fan hotend_fan]
pin: PA7
heater: extruder
heater_temp: 50.0

[fan]
pin: PB0

[force_move]
enable_force_move: True

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
#min_temp: 10
#max_temp: 105

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
sensor_temperature1: 25
sensor_adc1: 0.210317
#min_temp: 0
#max_temp: 105

########################################
################ MISC ##################
########################################

[filament_motion_sensor filament_sensor]
extruder: extruder
pause_on_runout: false
switch_pin: PB4




########################################
########## resonance_tester ############
########################################

[resonance_tester]  
accel_chip: adxl345  
probe_points:  
    117.5, 117.5, 20  # an example


########################################
############ input_shaper ##############
########################################

# [input_shaper]
# Calibrate IS: https://www.klipper3d.org/Resonance_Compensation.html
# shaper_type_x = ei
# shaper_freq_x = 79.6
# shaper_type_y = mzv
# shaper_freq_y = 38.2

########################################
############### Z_TILT #################
########################################

#  [z_tilt]
[z_tilt]
z_positions:  -27.5, 115
              262.5, 115
points:       2, 115
              200, 115
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
speed: 600
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
horizontal_move_z: 5
#   Number of times to retry if the probed points aren't within
retries: 20
#   tolerance.
retry_tolerance: .0025

########################################
################ END ###################
########################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.250
#*#
#*# [bed_mesh 36]
#*# version = 1
#*# points =
#*# 	-0.013056, 0.026944, 0.046944, 0.005694, 0.026944, 0.010694
#*# 	-0.021806, 0.015694, 0.063194, 0.029444, 0.051944, -0.039306
#*# 	-0.006806, 0.004444, 0.059444, 0.044444, 0.048194, -0.019306
#*# 	-0.009306, -0.009306, 0.074444, 0.030694, 0.015694, -0.049306
#*# 	0.000694, -0.006806, 0.044444, 0.006944, 0.001944, -0.051806
#*# 	-0.065556, 0.019444, 0.050694, 0.038194, 0.081944, -0.005556
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 6
#*# max_y = 187.0
#*# mesh_x_pps = 2
#*# max_x = 230.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.076329, 0.008829, 0.011329, 0.026329, 0.057579, 0.065079
#*# 	  0.053829, -0.026171, 0.021329, 0.007579, 0.036329, -0.014921
#*# 	  0.027579, -0.038671, -0.009921, -0.006171, -0.024921, -0.053671
#*# 	  0.016329, -0.048671, -0.011171, 0.010079, -0.016171, -0.074921
#*# 	  0.013829, -0.042421, -0.027421, -0.023671, -0.006171, -0.076171
#*# 	  0.050079, 0.000079, 0.008829, 0.008829, 0.032579, -0.046171
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 6
#*# max_y = 187.0
#*# mesh_x_pps = 2
#*# max_x = 230.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.350
#*# pid_ki = 0.913
#*# pid_kd = 1242.612
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.230
#*# pid_ki = 1.482
#*# pid_kd = 116.067
